.diceContainer {
  position: relative;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diceImage {
  width: 60%;
  height: auto;
  margin: 10px;
  user-select: none;
}

.iconContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
}

.lockIcon {
  font-size: 5vh;
  color: #b60223;
}

.lockOpenIcon {
  font-size: 5vh;
  color: #09bc8a;
}
